@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap");






/* Custom font class */
.font-magic {
  font-family:   "Google Sans", sans-serif; 
}
